* {
    margin: 0;
    padding: 0;
}
body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image:
        url('https://raw.githubusercontent.com/JSPOON3R/JSPOON3R.github.io/0316f061f3bbe78287c5fa469d4cdaae6e80cd95/Images/swivle-bg-top.svg');
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
    background-attachment: fixed;
    font-family: Nunito;
}
.logo {
    position:fixed;
    width: 5%;
    height:auto;
    top:0;
    right:0;
    margin:1%;
}


.container {
position:fixed;
display:flex;
flex-direction:row;
width:100%;
height:100%;
justify-content: center;
}

.backdrop {
    position:absolute;
    top:0;
    width:65%;
    height:90%;
    margin-top:2%;
    margin-bottom:2%;
    background: linear-gradient(to top right, #f3ecec, white);
    box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
        border-radius: 8px;
  }


.top-row {
    position: absolute;
    display: flex;
    top:2%;
    width: 95%;
    height: 28%;
margin-left:2.5%;
margin-right:2.5%;
}

/* Style the bottom row with two columns */
.bottom-row {
    position: absolute;
    display: flex;
    bottom:2%;
    width: 95%;
    height: 68%;
margin-left:2.5%;
margin-right:2.5%;
}

#top-left {
    position:absolute;
    height:100%;
    width: 70%;
    left:0;
}

#top-right {
    position:absolute;
    width: 30%;
    height:90%;
    margin-bottom: 10%;
    background-color: #f3ecec;
    border-radius:8px;
    right:0;
}

.column-bottom {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#bottom-right {
    width: 30%;
    display:flex;
    flex-direction: column;
    overflow-y:scroll;
    scrollbar-width: thin;
    background-color: #f3ecec;
    border-radius:8px;
}

#bottom-right::-webkit-scrollbar {
    width: 2px; /* Adjust the width as needed */
}

#bottom-right::-webkit-scrollbar-thumb {
    background-color: #ff5f57; 
}

#bottom-right::-webkit-scrollbar-track {
    background-color: #ccc; /* Color of the track */
}


#bottom-left {
    width: 70%;
}

#website-subheading {
    font-weight: bold;
}

.osx-window {
    width: 92%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-left:2%;
    margin-right:6%;
    margin-top:0%;
    margin-bottom: 0%;
}

.traffic-lights {
    display: flex;
    align-items: center;
}

.traffic-light {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin:.2%;
}

.red {
    background-color: #ff5f57;
    margin-left: 15px;
}

.amber {
    background-color: #ffbd2e;
}

.green {
    background-color: #28c940;
}

.iframe-content {
    padding-top: .2%;
    padding-bottom: 0%;
    width: auto;
    height: 100%;
    border: none;
}

.window-title {
    background-color: #fdeced;
    color: #e54748;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px 10px;
    margin-right: 1vw;
}

.window-description {
    color: #848484;
    font-weight: normal;
    text-align: center;
    flex: 1;
    padding-top: 4vh;
}

.contact-container {
    position:relative;
    display: flex;
    width: 100%;
    height: 100%; 
    overflow:hidden;
  }

  .contact-container-top {
    position:absolute;
    display:flex;
    width: 100%;
    height: 80%; 
    top:0;
  }

  .contact-container-bottom {
    position:absolute;
    display:flex;
    flex-direction: column;
    width: 95%;
    height: 15%; 
    bottom:5%;
    right:5%;
  }


.contact-left {
    position:relative;
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align:right;
  }
  
  .contact-right {
    position:absolute;
    width:50%;
    height:100%;
    display:flex;
    right:0;
  }

  .profile-image {
    position:absolute;
    height: 90%; 
    width: auto;
    margin-bottom: 10%;
    right:0;
  }
  
  
  .icons {
    position:absolute;
display:flex;
flex-direction: row;
justify-content: space-evenly;
height:100%;
width:99%;
margin-right:1%;

  }

  .contact-links {
    margin-left: 5%;
    margin-right: 0%;
  }
  

.green-border {
    border:#40ac56;
    border-style:double;
}

.red-border {
    border:#cf2e2e;
border-style: dotted;
}

.hello-left {
    position:absolute;
    width:50%;
    height:100%;
    left:0;
}

.hello-right {
    position:absolute;
    display:flex;
    flex-direction: column;
    width:50%;
    height:100%;
    right:0;
}

.link-buttons {
    position:relative;
    height:auto;
    top:2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:0;
}

.g2-reviews {
margin-left:5px;
margin-right:5px;
height:100%;
    border-radius: 8px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    padding: 10px; /* Add spacing between images */
    width:90%;
    margin-right:5%;
    margin-left:5%;
    margin-bottom: 5%;;
}

.image-button {
    /* Style your image buttons here */
    display:flex;
    flex-direction: column;
    cursor: pointer;
    align-self:baseline;
    height:2vw;
width:auto;
}

.link-subheading {
    display: flex;
    align-items: center;
    font-size: .4vw;
    color: #999;
}
.left-line,
.right-line {
    flex: 1;
    height: .1px; /* Increase the line height for visibility */
    background-color: #000; /* Adjust the line color */
    margin: 0 15px; /* Adjust the spacing between lines and text */
    border-right: 20px solid #999;
}


